extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | Galeri

  section.special_cource.padding_top
    .container
      .row
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_1.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Web Development
              h4 $130.00
              a(href='course-details.html')
                h3 Web Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_1.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_2.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') design
              h4 $160.00
              a(href='course-details.html')
                h3 Web UX/UI Design 
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_2.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_3.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Wordpress
              h4 $140.00
              a(href='course-details.html')
                h3 Wordpress Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_3.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings

      .row(style='margin-top:50px;')
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_1.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Web Development
              h4 $130.00
              a(href='course-details.html')
                h3 Web Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_1.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_2.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') design
              h4 $160.00
              a(href='course-details.html')
                h3 Web UX/UI Design 
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_2.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_3.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Wordpress
              h4 $140.00
              a(href='course-details.html')
                h3 Wordpress Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_3.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings

      .row(style='margin-top:50px;')
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_1.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Web Development
              h4 $130.00
              a(href='course-details.html')
                h3 Web Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_1.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_2.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') design
              h4 $160.00
              a(href='course-details.html')
                h3 Web UX/UI Design 
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_2.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
        .col-sm-6.col-lg-4
          .single_special_cource
            img.special_img(src=env.app_url+'/img/special_cource_3.png', alt='')
            .special_cource_text
              a.btn_4(href='course-details.html') Wordpress
              h4 $140.00
              a(href='course-details.html')
                h3 Wordpress Development
              p
                | Which whose darkness saying were life unto fish wherein all fish of together called
              .author_info
                .author_img
                  img(src=env.app_url+'/img/author/author_3.png', alt='')
                  .author_info_text
                    p Conduct by:
                    h5
                      a(href='#') James Well
                .author_rating
                  .rating
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    a(href='#')
                      img(src=env.app_url+'/img/icon/star.svg', alt='')
                  p 3.8 Ratings
  

  nav.blog-pagination.justify-content-center.d-flex(style='margin-bottom: 100px;')
    ul.pagination
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          i.ti-angle-left
      li.page-item
        a.page-link(href='#') 1
      li.page-item.active
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#', aria-label='Next')
          i.ti-angle-right