doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Ahmad Ardiansyah')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title Karomatul Qur'an
    link(rel='icon', href=env.app_url+'/img/ponpeslogo.png')
    link(rel='stylesheet', href=env.app_url+'/css/bootstrap.min.css')
    link(rel='stylesheet', href=env.app_url+'/css/animate.css')
    link(rel='stylesheet', href=env.app_url+'/css/owl.carousel.min.css')
    link(rel='stylesheet', href=env.app_url+'/css/themify-icons.css')
    link(rel='stylesheet', href=env.app_url+'/css/flaticon.css')
    link(rel='stylesheet', href=env.app_url+'/css/magnific-popup.css')
    link(rel='stylesheet', href=env.app_url+'/css/slick.css')
    link(rel='stylesheet', href=env.app_url+'/css/style.css')

    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js', async='')
    script.
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "0e184fee-d73a-440b-ab28-1823d386b98d",
          notifyButton: {
            enable: true,
          }, 
        }); 
      });

  body
    header.main_menu.home_menu
      .container
        .row.align-items-center
          .col-lg-12
            nav.navbar.navbar-expand-lg.navbar-light
              a.navbar-brand(href=env.app_url)
                img(src=env.app_url+'/img/ponpeslogo.png', style="width: 72px", alt='logo')
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

              include navigasi
              
    section.banner_part
      .container
        .row.align-items-center
          .col-lg-6.col-xl-6
            .banner_text
              .banner_text_iner
                h5 Ayuk Mengaji Bersama Kami
                h1 Pondok Pesantren Karomatul Qur'an
                p
                  | Ponpes Karomatul Qur'an adalah pondok pesantren atau lembaga pendidikan yang berbasis tahfizil Al-quran dan bermanhajkan Ahlu Sunnah Wal Jama'ah.
                a.btn_1(href='#') Selamat Datang 
                //- a.btn_2(href='#') Get Started 
                
    section.feature_part
      .container
        .row
          .col-sm-6.col-xl-3.align-self-center
            .single_feature_text
              h2
                | Keutamaan 
                br
                |  Al-Qur'an
              p
                | Allah Ta’ala telah memuliakan Ahlul Qur’an baik pembaca, penghafal ataupun pengamalnya dengan keistimewaan yang banyak sekali, di dunia dan akhirat.
              a.btn_1(href='#') Read More
          .col-sm-6.col-xl-3
            .single_feature
              .single_feature_part
                span.single_feature_icon
                  i.ti-layers
                h4 Membaca
                p
                  | “Siapa saja membaca satu huruf dari Kitab Allah (Al-Qur’an), maka baginya satu kebaikan, dan satu kebaikan itu dibalas dengan sepuluh kali lipatnya,” (HR. At-Tirmidzi).
          .col-sm-6.col-xl-3
            .single_feature
              .single_feature_part
                span.single_feature_icon
                  i.ti-new-window
                h4 Menghafal
                p
                  | Sabda Nabi Muhammad shallallahu ‘alaihi wasallam, “Hendaklah orang yang lebih banyak hafalan Al-Qur’annya yang mengimami sholat kalian”. (HR. Bukhari).
          .col-sm-6.col-xl-3
            .single_feature
              .single_feature_part.single_feature_part_2
                span.single_service_icon.style_icon
                  i.ti-light-bulb
                h4 Mengamalkan
                p
                  | Sabda Nabi Muhammad shallallahu ‘alaihi wasallam, “Sebaik-baik kalian yaitu siapa yang mempelajari Al-Quran dan mengamalkannya,” (HR. Bukhari).
    section.learning_part
      .container
        .row.align-items-sm-center.align-items-lg-stretch
          .col-md-7.col-lg-7
            .learning_img
              img(src=env.app_url+'/img/learning_img3.png', alt='')
          .col-md-5.col-lg-5
            .learning_member_text
              h5 Inilah Kami
              h2 Belajar dengan Ikhtiar dan Istiqomah
              p
                | Tetap ikhtiar berarti terus berupaya dan berbuat. Tidak diam, juga tidak fatalistis. Keyakinannya cukup kuat dan stabil. Sebesar dan semaksimal ikhtiar sebesar itulah hasil. Tentu berikhtiar maksimal dalam jalan yang diridhai-Nya.
              ul
                li Ikhtiar
                li Tawakal
                li Ikhlas
                li Sabar
                li Syukur
              a.btn_1(href='#') Read More
              
    section.member_counter
      .container
        .row
          .col-lg-3.col-sm-6
            .single_member_counter
              span.counter 5
              h4  Semua Pengajar
          .col-lg-3.col-sm-6
            .single_member_counter
              span.counter 62
              h4  Semua Santri
          .col-lg-3.col-sm-6
            .single_member_counter
              span.counter 10
              h4  Ikhwan
          .col-lg-3.col-sm-6
            .single_member_counter
              span.counter 52
              h4  Akhwat
    section.special_cource.padding_top
      .container
        .row.justify-content-center
          .col-xl-5
            .section_tittle.text-center
              p Daftar
              h2 Unit Pendidikan
        .row
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Tanfizdul Qur'an
                p
                  | Tahfizul Qur’an menjadi program unggulan pesantren. Oleh karena itu perkembangan hafalan santri selalu dipantau untuk selalu meningkat setiap semester.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Tafsir Kitab Kuning
                p
                  | Kitab kuning, dalam pendidikan agama islam, merujuk kepada kitab-kitab tradisional yang berisi pelajaran-pelajaran agama islam yang diajarkan pada Pondok-pondok Pesantren.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Al-Quran Bin Nadzri
                p
                  | Adalah membaca Al-Qur’an dengan melihat mushhaf, memahami kaidah-kaidah membaca, mengenali huruf-hurufnya serta hukum bacaannya.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
        .row(style='margin-top: 30px;')
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Nababil Fiqh
                p
                  | Adalah salah satu bidang ilmu dalam syariat Islam yang secara khusus membahas persoalan hukum yang mengatur berbagai aspek kehidupan manusia.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Libabul Hadist
                p
                  | Kitab Lubabul Hadits adalah kitab hadits yang di karang oleh Syeikh Al Imam Jalaluddin As-Suyuthi, Kitab ini memuat hadits nabi dan atsar shohabat dengan sanad.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
          .col-sm-6.col-lg-4
            .single_special_cource
              img.special_img(src=env.app_url+'/img/pendidikan/hafidz2.png', alt='')
              .special_cource_text
                a.btn_4(href='course-details.html') Pendidikan
                h4 18 Sep 2019
                a(href='course-details.html')
                  h3 Mahfudzoh
                p
                  | Arti nama Mahfuzah diatas telah diverifikasi sesuai kaidah bahasa arab. Sedangkan penggunaannya, direkomendasikan untuk Perempuan.
                .author_info
                  .author_img
                    img(src=env.app_url+'/img/pendidikan/author.png', alt='')
                    .author_info_text
                      p Dibuat oleh:
                      h5
                        a(href='#') Administrator
                  .author_rating
                    .rating
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                      a(href='#')
                        img(src=env.app_url+'/img/icon/color_star.svg', alt='')
                    p 4.8 Ratings
    
    section.advance_feature.learning_part(style="padding: 169px 0px 90px;")
      .container
        .row.align-items-sm-center.align-items-xl-stretch
          .col-md-6.col-lg-6
            .learning_member_text
              h5 Dan Tak Lupa
              h2 Pendidikan Tentang Aqidatul Islamiyah
              p
                | Aqidah Islamiah, salah satu definisinya menurut Syaikh Thahir Ibn Sholeh dalam kitab Jawahir al-Kalamiyah, adalah beberapa hal yang diyakini kebenarannya oleh umat muslim.
              .row
                .col-sm-6.col-md-12.col-lg-6
                  .learning_member_text_iner
                    span.ti-pencil-alt
                    h4 Iman Kepada Allah Secara Umum
                    p
                      | Memiiki segala sifat kesempurnaan dan terhindar (suci) dari segala sifat kekurangan.
                .col-sm-6.col-md-12.col-lg-6
                  .learning_member_text_iner
                    span.ti-stamp
                    h4 Iman Kepada Allah Secara Terperinci
                    p
                      | Sesungguhnya Ia adalah Dzat yang hidup, mengetahui, berkuasa, berkehendak, mendengar, melihat, dan berbicara.
          .col-lg-6.col-md-6
            .learning_img
              img(src=env.app_url+'/img/pendidikan/aqidah.png', alt='')
    
    section.blog_part.section_padding(style="padding: 10px 0px;")
      .container
        .row.justify-content-center
          .col-xl-5
            .section_tittle.text-center
              p Berita Kami
              h2 Sedikit Cerita
        .row
          .col-sm-6.col-lg-4.col-xl-4
            .single-home-blog
              .card
                img.card-img-top(src=env.app_url+'/img/blog/maulid.png', alt='blog')
                .card-body
                  a.btn_4(href='#') Maulid Nabi
                  a(href='#')
                    h5.card-title Maulid Nabi Muhammad SAW
                  p
                    | Hari kelahiran Nabi Muhammad dikenal dengan istilah Maulid Nabi, tanggal ini diambil dari perhitungan Kalender Bulan Islam.
                  ul
                    li
                      span.ti-comments
                      | 2 Comments
                    li
                      span.ti-heart
                      | 2k Like
          .col-sm-6.col-lg-4.col-xl-4
            .single-home-blog
              .card
                img.card-img-top(src=env.app_url+'/img/blog/wisuda.png', alt='blog')
                .card-body
                  a.btn_4(href='#') Wisuda
                  a(href='#')
                    h5.card-title Wisuda Tahfidzul 2019
                  p
                    | Terkait keputusan Dewan Tahfizh Daarul Qur'an tentang "Persyaratan Bagi Calon Peserta yang akan mengikuti WISUDA TAHFIZH 2019".
                  ul
                    li
                      span.ti-comments
                      | 2 Comments
                    li
                      span.ti-heart
                      | 2k Like
          .col-sm-6.col-lg-4.col-xl-4
            .single-home-blog
              .card
                img.card-img-top(src=env.app_url+'/img/blog/iduladha.png', alt='blog')
                .card-body
                  a.btn_4(href='#') Hari Raya Idul Adha
                  a(href='#')
                    h5.card-title Form day seasons sea hand
                  p
                    | Idul Adha merupakan hari raya Islam yang diperingati sebagai hari libur nasional di Indonesia atau Hari Raya Kurban.
                  ul
                    li
                      span.ti-comments
                      | 2 Comments
                    li
                      span.ti-heart
                      | 2k Like
    
    footer.footer-area
      .container
        .row.justify-content-between
          .col-sm-6.col-md-4.col-xl-3
            .single-footer-widget.footer_1
              a(href=env.app_url)
                img(src=env.app_url+'/img/ponpeslogo.png', style="width: 72px", alt='logo')
              p
                | Apabila ada kritik dan saran yang dapat menjadikan kami lebih baik kirimi kami surat lewait email anda. Terimakasih.
          .col-sm-6.col-md-4.col-xl-4
            .single-footer-widget.footer_2
              h4 Hubungi Kami
              p
                | Tetap update dengan tren terbaru kami, Benih surga sehingga tempat bersayap dibagikan buah.
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'")
                    .input-group-append
                      button.btn.btn_1(type='button')
                        i.ti-angle-right
              .social_icon
                a(href='#')
                  i.ti-facebook
                a(href='#')
                  i.ti-twitter-alt
                a(href='#')
                  i.ti-instagram
                a(href='#')
                  i.ti-skype
          .col-xl-3.col-sm-6.col-md-4
            .single-footer-widget.footer_2
              h4 Kontak Kami
              .contact_info
                p
                  span  Address :
                  |  Jl. Gunting Kidul, Sentul, Purwodadi, Pasuruan, Jawa Timur 67163
                p
                  span  Phone :
                  |  +62 856-4665-7615
                p
                  span  Email : 
                  |  karmatulquran@gmail.com
      .container-fluid
        .row
          .col-lg-12
            .copyright_part_text.text-center
              .row
                .col-lg-12
                  p.footer-text.m-0
                    | Copyright © 2019. All rights reserved. 
                    b Pondok Pesantren Karomatul Qur'an.
                    
    script(src=env.app_url+'/js/jquery-1.12.1.min.js')
    script(src=env.app_url+'/js/popper.min.js')
    script(src=env.app_url+'/js/bootstrap.min.js')
    script(src=env.app_url+'/js/jquery.magnific-popup.js')
    script(src=env.app_url+'/js/swiper.min.js')
    script(src=env.app_url+'/js/masonry.pkgd.js')
    script(src=env.app_url+'/js/owl.carousel.min.js')
    script(src=env.app_url+'/js/jquery.nice-select.min.js')
    script(src=env.app_url+'/js/slick.min.js')
    script(src=env.app_url+'/js/jquery.counterup.min.js')
    script(src=env.app_url+'/js/waypoints.min.js')
    script(src=env.app_url+'/js/custom.js')
