doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Ahmad Ardiansyah')
    meta(name='keywords', content='')
    meta(name='description', content='')
    title Karomatul Qur'an
    link(rel='icon', href=env.app_url+'/img/logo_kq.png')
    link(rel='stylesheet', href=env.app_url+'/css/bootstrap.min.css')
    link(rel='stylesheet', href=env.app_url+'/css/animate.css')
    link(rel='stylesheet', href=env.app_url+'/css/owl.carousel.min.css')
    link(rel='stylesheet', href=env.app_url+'/css/themify-icons.css')
    link(rel='stylesheet', href=env.app_url+'/css/flaticon.css')
    link(rel='stylesheet', href=env.app_url+'/css/magnific-popup.css')
    link(rel='stylesheet', href=env.app_url+'/css/slick.css')
    link(rel='stylesheet', href=env.app_url+'/css/style.css')

    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js', async='')
    script.
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "0e184fee-d73a-440b-ab28-1823d386b98d",
          notifyButton: {
            enable: true,
          }, 
        }); 
      });

  body
    header.main_menu.single_page_menu
      .container
        .row.align-items-center
          .col-lg-12
            nav.navbar.navbar-expand-lg.navbar-light
              a.navbar-brand.logo_1(href=env.app_url)
                img(src=env.app_url+'/img/ponpeslogo.png', style="width: 72px", alt='logo')
              a.navbar-brand.logo_2(href=env.app_url)
                img(src=env.app_url+'/img/ponpeslogo.png', style="width: 72px", alt='logo')


              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon

              include navigasi
    
    block content
    
    footer.footer-area
      .container
        .row.justify-content-between
          .col-sm-6.col-md-4.col-xl-3
            .single-footer-widget.footer_1
              a(href=env.app_url)
                img(src=env.app_url+'/img/ponpeslogo.png', style="width: 72px", alt='logo')
              p
                | Apabila ada kritik dan saran yang dapat menjadikan kami lebih baik kirimi kami surat lewait email anda. Terimakasih.
          .col-sm-6.col-md-4.col-xl-4
            .single-footer-widget.footer_2
              h4 Hubungi Kami
              p
                | Tetap update dengan tren terbaru kami, Benih surga sehingga tempat bersayap dibagikan buah.
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'")
                    .input-group-append
                      button.btn.btn_1(type='button')
                        i.ti-angle-right
              .social_icon
                a(href='#')
                  i.ti-facebook
                a(href='#')
                  i.ti-twitter-alt
                a(href='#')
                  i.ti-instagram
                a(href='#')
                  i.ti-skype
          .col-xl-3.col-sm-6.col-md-4
            .single-footer-widget.footer_2
              h4 Kontak Kami
              .contact_info
                p
                  span  Address :
                  |  Jl. Gunting Kidul, Sentul, Purwodadi, Pasuruan, Jawa Timur 67163
                p
                  span  Phone :
                  |  +62 856-4665-7615
                p
                  span  Email : 
                  |  karomatulquran@gmail.com
      .container-fluid
        .row
          .col-lg-12
            .copyright_part_text.text-center
              .row
                .col-lg-12
                  p.footer-text.m-0
                    | Copyright © 2019. All rights reserved. 
                    b Pondok Pesantren Karomatul Qur'an.
                    
    script(src=env.app_url+'/js/jquery-1.12.1.min.js')
    script(src=env.app_url+'/js/popper.min.js')
    script(src=env.app_url+'/js/bootstrap.min.js')
    script(src=env.app_url+'/js/jquery.magnific-popup.js')
    script(src=env.app_url+'/js/swiper.min.js')
    script(src=env.app_url+'/js/masonry.pkgd.js')
    script(src=env.app_url+'/js/owl.carousel.min.js')
    script(src=env.app_url+'/js/jquery.nice-select.min.js')
    script(src=env.app_url+'/js/slick.min.js')
    script(src=env.app_url+'/js/jquery.counterup.min.js')
    script(src=env.app_url+'/js/waypoints.min.js')
    script(src=env.app_url+'/js/custom.js')
