extends layout

block content
  section.breadcrumb.breadcrumb_bg
    .container
      .row
        .col-lg-12
          .breadcrumb_iner.text-center
            .breadcrumb_iner_item
              h2= title
              p
                | Home
                span /
                | #{title}

  section.sample-text-area
    .container.box_1170
      h3.text-heading #{title}
      p.sample-text
        | Beberapa prestasi yang telah kami capai sebagai berikut
        
  .whole-wrap
    .container.box_1170    
      .section-top-border
        .progress-table-wrap
          .progress-table
            .table-head
              .serial No
              .country Prestasi
              .visit Tahun
              .percentage Tingkat

            each dd,i in rows
              .table-row
                .serial #{i+1}
                .country
                  img(src='img/elements/indo.jpg', alt='flag')
                  | #{dd.prestasi}
                .visit #{dd.tahun}
                .percentage #{dd.tingkat}