extends layout

block contentBackend
  .row
    h2= title
      a.btn.btn-default.pull-right(href=env.app_url_back+'/postingan/form') tambah
    hr

    .col-lg-12
      table.table.table-striped
        thead
          tr
            th NO
            th KATEGORI
            th JUDUL
            th TANGGAL
            th PUBLISH
            th PENULIS
            th AKSI
        tbody
          each dd, i in rows
            tr
              td= (i+1)
              td= dd.kategori.namaKategori
              td= dd.judulPost
              td= dd.createdAt
              td
                if dd.aktif
                  span.label.label-success #{dd.aktif}
                else
                  span.label.label-danger #{dd.aktif}

              td= dd.pengguna.nama
              td
                if dd.aktif
                  a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/aktif') unpublish
                else
                  a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/aktif') publish
                | &nbsp;
                a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/lihat') lihat
                | &nbsp;
                a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/cover') cover
                | &nbsp;
                a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/edit') edit
                | &nbsp;
                a.btn.btn-default(href=env.app_url_back+'/postingan/'+dd.id+'/hapus') hapus
