extends layout

block contentBackend
  .row
    h2= title
      a.btn.btn-success.pull-right(href=env.app_url_back+'/postingan/form') tambah
    hr

    .col-lg-12
      table.table.table-striped
        thead
          tr
            th NO
            th KATEGORI
            th JUDUL
            th PEMBUATAN
            th AKTIF
            th AUTHOR
            th ACTION
        tbody
          each dd, i in rows
            tr
              td= (i+1)
              td= dd.kategori.namaKategori
              td= dd.judulPost
              td= dd.createdAt
              td
                if dd.aktif
                  span.label.label-success #{dd.aktif}
                else
                  span.label.label-danger #{dd.aktif}
              td= dd.pengguna.nama
              td
                a.btn.btn-info(href=env.app_url_back+'/postingan/'+dd.id+'/lihat') lihat
                | &nbsp;
                a.btn.btn-primary(href=env.app_url_back+'/postingan/'+dd.id+'/edit') edit
                | &nbsp;
                a.btn.btn-danger(href=env.app_url_back+'/postingan/'+dd.id+'/hapus') hapus
